@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter-Medium.woff2) format('woff2');
}

@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Mulish-Regular;
    src: url(../fonts/Mulish-Regular.woff2) format('woff2');
}

@font-face {
    font-family: PoiretOne-Regular;
    src: url(../fonts/PoiretOne-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Commissioner-Regular;
    src: url(../fonts/Commissioner-Regular.woff2) format('woff2');
}

:root {
    --interM: Inter-Medium;
    --interR: Inter-Regular;
    --mulishR: Mulish-Regular;
    --poireR: PoiretOne-Regular;
    --ralewayR: Raleway-Regular;
    --CommissR: Commissioner-Regular;

    /* color */

    --color-active-title: #1B1B1B;
    --color-menu: #646464;
    /* --color- */
}

html {

    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 16px;
}

.header__content-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    margin-top: 20px;
    /* z-index: 99; */
}


/* новая карточка для меню */

.card__box-link{
	position: relative;
	max-width: 449px;
	height: 492px;
	width: 100%;
		flex-direction: column;
		padding: 16px;
		background-color:  #4B784F;
		border-radius: 16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-ms-border-radius: 16px;
		-o-border-radius: 16px;
}
.card__box-link{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 110px;
}
.card__box-text span{
	font-family: var(--interR);
	font-weight: 300;
	font-size: 100px;
	color: #FFFFFF;
	line-height: 121.02px;
}
.card__box-text p{
	max-width: 170px;
	font-family: var(--interR);
	font-size: 16px;
	color: #FFFFFF;
}

.card__box__link-btn a{
	display: inline-block;
	padding: 14px 60px;
	margin-top: 160px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	background-color: #FFFFFF;
}
.card__box__link-btn a{
	font-family: var(--interR);
	font-size: 16px;
	line-height: 19.36px;
	color: #4B784F;

}




/* burger */

.open {
    display: block;
}

.menuToggle {
    position: relative;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.menuToggle .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    /* margin: 5px 0; */

}

.menuToggle .bar:nth-child(1) {
    margin-bottom: 13px;
}

.menu.open {
    visibility: visible;
    opacity: 1;
    /* display: block; */
}

.menu {
    visibility: hidden;
    opacity: 0;
    /*display: none;
    */
    z-index: 99;
    position: fixed;
    padding-top: 40px;
    padding-left: 16px;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 90%;
    */
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
    text-align: center;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

/* .menu a {
    display: block;
    padding: 15px;
    font-size: 26px;
    text-decoration: none;
    /* color: inherit; */
/* } */

.closeMenu {
    /* width: 24px;
    height: 24px; */
    padding: 6px;
    z-index: 99;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.closeMenu .bar {
    /* width: 24px;
    height: 2px;
    background-color: #333; */
    margin: 5px 0;
    /* transform: rotate(45deg); */
}

.closeMenu .bar:last-child {
    transform: rotate(-45deg);
}



.overlay {
    visibility: hidden;
    opacity: 0;
    /*display: none;
    */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.overlay.open {

    visibility: visible;
    opacity: 1;
    /* display: block; */
}







.menu {
    margin: 0 auto;
    padding-bottom: 40px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.menu__list-item {
    position: relative;
}

.active-line::after {
    content: '';
    position: absolute;
    display: none;
    /* display: inline-block; */
    bottom: -5px;
    left: 0;
    width: 100%;
    /* width: clamp(3.438rem, 0.018rem + 4.559vw, 7.313rem); */
    height: 2px;
    background-color: var(--color-active-title);
}

.menu__list-link {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 26px;
    color: rgba(100, 100, 100, 1);
    /* color: var(--color-menu); */
    padding-bottom: 1px;
    /* line-height: 120%; */
}



.social__header {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    padding-top: 100px;

}

.social__header-text-box {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;

}

.social__title-header {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(133, 133, 133, 1);
    /* padding: 15px; */
    margin-bottom: 24px;
    text-align: justify;
}

.telegramm__header,
.ws__header {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(27, 27, 27, 1);
}


.link-active {
    color: var(--color-active-title);
}

/* hero */



.hero {
    /* margin-top: 56px; */
    margin-top: 37px;

    margin-bottom: 80px;
}
/* старый главный блок */
/* .hero__img-box {
    width: 100%;
    height: 437px;
    background-image: url(../img/heroImg/-mabail.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */

/* .hero__title { */
    /* max-width: 332px; */
    /* font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 32px;
    color: var(--color-active-title);
    margin-bottom: 56px;
    line-height: 37px;
} */

/* .hero__img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */




/* новый главный экран */
.hero__title-box{
    display: flex;
    flex-direction: column;
}

.hero__text-top, .hero__text-bottom{
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 56px;
    line-height: 65.74px;
    color:var(--color-active-title);
}
.hero__text-bottom{
    margin-left: 123px;
}
.hero__discription{
    max-width: 315px;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #151515;
    margin-top: 32px;
    margin-bottom: 32px;
}
.hero__bottom-link{
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #1B1B1B;
    border-bottom: 1px solid #151515;
    padding-bottom: 5px;
}
.hero__img-box{
    position: relative;
    max-width: 768px;
    height: 300px;
    margin-top: 40px;
}
.hero__img{
    width: 100%;
    position: absolute;
   
} 
.hero__block-img{
    object-fit: cover;
    border-radius: 36.57px;
    -webkit-border-radius: 36.57px;
    -moz-border-radius: 36.57px;
    -ms-border-radius: 36.57px;
    -o-border-radius: 36.57px;

}


.hero__block-img-box{
    display: none;
}




/* popularmenu */



.content-top-link-btn {
    display: none;
    font-family: var(--interR);
    font-size: 14px;
    line-height: 16px;
    color: var(--color-active-title);
}

.content-top-link-btn::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-active-title);
}


.content__top-text {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-menu);
    margin-bottom: 20px;
}

.content__top-title {
    max-width: 332px;
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-active-title);
    margin-bottom: 36px;

}


/* .popular__btn-mobail-box {
    margin-top: 20px;
} */

.popular__btn-mobail-box {

    text-align: center;
}

.popular__btn-mobail-box a {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.popular__btn-mobail-box a {
    width: 100%;
    margin-top: 32px;
    padding: 16px 107px;
    background-color: rgba(75, 120, 79, 1);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}



/* tabs */



/* .popular__tabs-box {
    margin-bottom: 60px;
} */
/* .tabs__content {
    margin-bottom: 32px;
} */
.tabs__hidden {
    display: none;
}

.active-tabs-content {
    display: block;
}

.tabs-menu {
    max-width: 343px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    /* gap: 23px 28px; */
    gap: 16px 16px;
    margin-bottom: 24px;
}


.item-tabs {
    display: block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: var(--color-active-title);
    /* margin-right: 28px; */
    /* margin-bottom: 23px; */
    padding: 6px 12px 6px 12px;
}


.active-tabs {
    color: #fff;
    background-color: rgba(75, 120, 79, 1);
    line-height: 17px;
    /* gap: 11px 28px; */

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* width="21" height="2" */



.tabs__wrapper {
    gap: 0 16px;
}

/* cards */



.cards__box {
    position: relative;
    max-width: 449px;
    height: 492px;
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    background-color: rgba(242, 246, 249, 1);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    /* margin-right: 16px; */
}

.card__btn {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}



.cards__img-box {
    position: relative;
    min-width: 278px;
    min-height: 289px;
    /* width: 100%; */
    overflow: hidden;
    padding-bottom: 60%;
    margin-bottom: 16px;
}

.cards__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.cards__text {
    text-align: left;
}


.cards__title {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 9px;
}

.cards__subtitle {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    color: rgba(105, 105, 105, 1);
}

.cards__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards__price {
    position: absolute;
    bottom: 13.71px;
    left: 13.71px;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}


.tabs__pog {
    display: none;
}



/* pop-up */


.hidden {
    visibility: hidden;
    opacity: 0;
    /* display: none; */
}

.popup-block {
    visibility: hidden;
    opacity: 0;

    /*display: none;
    */
}

.popup1,
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*max-height: 725px;
    */
    height: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

/* #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 725px;
    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
} */

.no-scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
}


.popup-content {
    position: absolute;
    /*top: 50%;
    */
    max-height: 90%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    background-color: #fff;
    /*padding: 20px;
    */
    /*border-radius: 4px;
    */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

/* .bgcolor {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 0;

} */

.close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background-color: inherit;
    /*padding: 6px;
    */
    color: rgba(0, 0, 0, 1);
    background-color: rgba(249, 249, 249, 1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 1;

}



/* pop-up card */

.popup__content-box {
    /*position: relative;
    */
    width: 100%;
    /* padding: 16px; */
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.popup__content-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    /* background-color: rgba(249, 249, 249, 1); */
    /* background-color: rgba(249, 249, 249, 1); */
    border-radius: 20px 20px 0 0;

}

.product__text-box {
    flex: 0 1 auto;
    /* overflow: auto; */
    padding: 0 16px 24px 16px;

}

.pop-up__card-box {
    min-width: 373px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-top: 41px; */
}

.product__card-img {
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    height: 40vh;
    /* max-height: 347px; */
    /* min-height: 347px; */
    padding-bottom: 60%;
    overflow: hidden;
    /* text-align: center; */
    margin-bottom: 20px;
    background-color: inherit;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;

}

.product__card-img-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.product__text {
    /* padding-top: 20px; */
    margin-bottom: 24px;
}

.product__title {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: rgba(27, 27, 27, 1);
}

.product__size {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: rgba(105, 105, 105, 1);
    margin-top: 8px;
    margin-bottom: 16px;
}

.product__compound {
    max-width: 340px;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgba(27, 27, 27, 1);
}

.calories__title {
    font-family: var(--interM);
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: rgba(27, 27, 27, 1);
}

.calories__card-box {
    display: flex;
    gap: 0 10.33px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.calories__card {
    width: 78px;
    height: 66px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex: 1 1 auto; */
    padding: 9px 10px;
    border: 1.15px solid #e0e0e0;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.calories__num {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgba(27, 27, 27, 1);

}

.calories__name {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: rgba(105, 105, 105, 1);
}


.price__text {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* margin-bottom: 24px; */


}









/* about */

.about {
    margin-top: 80px;

}



.top__text {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    /*font-size: 14px;
    */
    font-size: 14px;
    line-height: 17px;
    color: var(--color-active-title);
    margin-bottom: 20px;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}

.about__title {
    min-width: 343px;
    font-family: var(--ralewayR);
    font-weight: 400;
    /* font-size: 24px; */
    font-size: 24px;
    color: var(--color-active-title);
    line-height: 28px;
}

.about__images {
    /* margin-top: 32px; */
    margin-top: 34px;
    position: relative;
    width: 100%;
    min-height: 300px;
    padding-bottom: 60%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-bottom: 24px; */
    margin-bottom: 24px;
}

.about__images img {
    /* max-width: 768px; */
    /* max-height: 700px; */

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

}

.bottom__text {
    /* max-width: 328px; */
    max-width: 328px;
    font-family: var(--interR);
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 16px;
    color: var(--color-active-title);
    line-height: 22px;
}






/* holidays */

.holidays {
    margin-top: 80px;
}


.holidays__top-text span {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.holidays__title {
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-active-title);
    line-height: 28px;
    margin-bottom: 37px;
}

.holidays__photo-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.holidays__photo {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    /* overflow: hidden; */
}

.holidays__img {
    position: absolute;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */
}







/* gallery */

.gallery {
    margin-top: 80px;
}

.gallery__top-text {
    display: inline-block;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-active-title);
    margin-bottom: 20px;

}

.gallery__title {
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-active-title);
    margin-bottom: 48px;
}

.Swiper__gallery {
    position: relative;
}

.swiper {
    /* min-width: 375px; */
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* min-height: 540px; */
    height: 100%;
    object-fit: cover;
}

.gallery__swiper-img {
    display: block;
    width: 100%;
    min-height: 540px;
    object-fit: cover;

}



.swiper__item {
    background-color: var(--color-active-title);
}

.swiper__nav {
    display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}


.swiper__pag {
    height: 30px;
    width: 45px;
    position: absolute;
    left: inherit;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.swiper__pag {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
}

.swiper-button-next,
.swiper-button-prev {
    width: clamp(3rem, 0.75rem + 3.516vw, 6.375rem);
    height: clamp(3rem, 0.75rem + 3.516vw, 6.375rem);
    /*padding: 15px 16px;
    */
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 40px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 40px;
} */
















.footer {
    background-color: rgba(19, 19, 19, 1);
    padding-top: 61px;
    padding-bottom: 40px;
}

.footer__list {
    margin-bottom: 40px;
}


.footer__list-title {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(133, 133, 133, 1);
    margin-bottom: 16px;

}

.footer__link {
    max-width: 295px;
    display: inline-block;
    text-align: left;
    font-family: var(--interR);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}


.footer__navigacion {
    /* display: flex;
    flex-wrap: wrap;
    gap: 50px 16px; */

    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 16px 50px;
}

.footer__soci {
    display: flex;
    gap: 43px;
}

.footer__policy {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
}


.footer__policy-text,
.footer__policy-link {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}


.footer__maps-box iframe {
    width: 100%;
    min-height: 465px;
    margin-bottom: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}












/* Catalog-page */


.wrapper {
    position: relative;
}

.header__page {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    padding-bottom: 20px;

}

.content__box {
    position: relative;
}


.first__menu-box {
    position: fixed;
    top: 90px;
    left: 16px;
    right: 0;
    z-index: 98;
    background-color: #fff;
}

.first__menu {
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    white-space: nowrap;
    background-color: inherit;
    /*padding: 10px;
    */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /*-ms-overflow-style: none;*/
    /*scroll-behavior: smooth;*/


}

.first__menu::-webkit-scrollbar {
    display: none;
}

/* first__menu */
.menu-item {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color 0.2s;
    border-radius: 10px;
    color: var(--color-active-title);
    /*color: var(--color-active-title);*/
    -webkit-transition: background-color 0.2s;
}


.active {
    background-color: #4B784F;
    color: #FFFFFF;
    /* padding: 6px 13px; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* .section {
    padding: 50px;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
} */

.first__title-box {
    display: none;
    margin-top: 20px;
}

.first__product-box {
    padding-top: 100px;
}

/* .catalog__product {
    width: 1197px;
    margin-left: 253px;
} */

.menu-item {
    font-family: var(--interR);
    font-weight: 400;
    font-size: 14px;
}


.first {
    margin-top: 56px;
}

.first__title-box h1 {
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 32px;

}

.first__product-box {
    margin-top: 10px;
}

.first__card-box {
    margin-right: 16px;
    background-color: rgba(242, 246, 249, 1);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.first__pog {
    display: none;
}

.first__title-text {
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 24px;
}




/* cosmo */

.cosmo,
.burgers,
.pizza,
.hotdrinks,
.salads,
.Colddrinks,
.snacks {
    padding-top: 56px;
}

.snacks {
    margin-bottom: 56px;
}

.cosmo__title,
.burgers__title,
.pizza__title,
.hotdrinks__title,
.salads__title,
.Colddrinks__title,
.snacks__title {
    font-family: var(--ralewayR);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* margin-top: 40px; */
    margin-bottom: 24px;
}


.first__menu-box {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.first__menu-box.catalog-menu-nane {
    visibility: hidden;
    opacity: 0;
    /* display: none; */
}

/* modal prod*/


.active-popup {
    display: block;
}